@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #e94848;
}

body {
    @apply bg-gray-50 text-gray-900 font-sans;
}

.btn-primary {
    @apply px-4 py-2 bg-brand text-white rounded-lg hover:bg-brand-dark transition-colors duration-200 shadow-md;
}

.card {
    @apply bg-white rounded-xl shadow-lg overflow-hidden border border-gray-100;
}